/*
    these are just the default styles used in the Cycle2 demo pages.  
    you can use these styles or any others that you wish.
*/


/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { width:inherit; min-width: 100%; max-width: 100%; margin: 0px auto; padding: 0; position: static!important;
    background: url(../../../../../../../malsup.github.io/images/spinner.gif) 50% 50% no-repeat;

 }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay { 
    position: absolute;
	bottom: 0%;
	width: 100%;
	height: 100px;
	z-index: 998;
	color: white;
	padding: 15px;
	top:auto;
	left:auto;
}


/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(../../../../../../../malsup.github.io/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(../../../../../../../malsup.github.io/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

/* Move next previous slideshow */
#button { 
	position:relative; 
	width:100px;
}	
						 
.gal-top .prev,
.gal-top .next {
	background:#f32a2a;
	color:#fff;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

.gal-top .prev:before {
	content:"\f104";
}

.gal-top .next:before {
	content:"\f105";
}

.gal-top .prev:before,
.gal-top .next:before {
	font-family:'FontAwesome';
	font-size: 25px;
	position:relative;
}

.gal-top .prev:hover, .gal-top .next:hover{
	color: #ffffff;
	background: rgba(17, 17, 17, .95);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	text-decoration: none;
}

.cycle-caption{ height:30%; bottom:0; top:auto;}
.cycle-overlay div{ 
font-weight:bold;
		color:#FFF;
		font-size:30px;
		background:rgba(243,42,42,0.5);
		font-weight:700;
		position:absolute;
		text-transform:capitalize;
		top:15px;
		left:5%;
		margin-bottom: 5px;
		z-index:50;
		padding:15px;
		opacity:1;
		clear:both;
		font-style:italic;
 }
 
.cycle-overlay div:before {
	border:1px solid rgba(135, 173, 179, .9);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/

/* Iphone / Mobile  */
@media (max-width: 767px) {
	.cycle-slideshow img {
		width:inherit;
		height:100%;
	}
}
/* Iphone / Mobile  */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
/*    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }*/
	.cycle-overlay div{ font-size:22px;}
}